<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


    <script>
        var citiesJSON = "{{ static('json/cities.json') }}"
    </script>
    <script src="{{ static('js/googleMaps.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8j6OZr9rgA1Z86Jsh5PvKKukxyIo_HGA&callback=initMap"
            async defer></script>

    <style>
        #map {
            width: 100%;
            padding-top: 60%;
        }
    </style>
    <title>Income</title>

    <link rel="shortcut icon" href="{{ static('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ static('favicon.ico') }}" type="image/x-icon">

</head>
<body>
<div class="container">
    <div class="jumbotron container-fluid">
        <image src="{{ static('images/TrueValue.png') }}" class="img-responsive col-md-3"></image>
        <div class="col-md-9">
            <h1>Income</h1>
            <h4>a project under development by <a href="http://www.jonathanbrown.ca">{{ names }}</a></h4>
            <select onchange="jobChanged()" id="profession_selecter">
                {% for job in jobs %}
                    <option value="{{ job[0] }}">{{ job[1] }}</option>
                {% endfor %}
            </select>
            <p id="words"></p>
        </div>

    </div>
</div>


<div class="container">
    <div id="map"></div>
</div>
<br>
<br>
<div class="table-responsive">
  <table id="resutls_table" class="table">
      <tr>
          <td>City Name</td>
          <td>Adjusted Income</td>
          <td>Unadjusted Income</td>
          <td>Cost of Living (100 is national average)</td>
      </tr>
  </table>
</div>


<br>
<br>
<br>
</body>
</html>